<!DOCTYPE html>
<head>
    <body>
        <style> body{
        background-image:url(https://tse4.mm.bing.net/th?id=OIP.MuxUx3SYxhFus10zN_xBlQHaE8&pid=Api&P=0);
background-repeat: no-repeat;
background-color: none;
background-position: center;
background-attachment: fixed;
background-size: 1400px;        }
    </style>
        
    <link rel="stylesheet" href="style.css">
    <title>home</title>
    <header id="header1">
        <h2>Loan Approval</h2></header>
        <div id="header">
            <div class="container">
                <nav><ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
                </nav>
            </div>
        </div>
        <h1>BANKING SOLUTIONS</h1>
        <P>Loan prediction is a very common real-life problem that each retail bank faces at least once 
            in its lifetime.If done correctly,it can save a lot of man-hours at the end of a retail bank
        </p>
       <button type = "button"value="click me to predict">click me to predict</button>
        </body>
       
</html>